.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.purchase-card{
  width: 350px;
  box-shadow: 0 4px 8px 0 rgb(98, 102, 93);
  border-radius: 10px 10px 10px 10px;
}

.show-grid{
  padding-bottom: 1.5em;
}

.item-details-button:focus{
  outline: none;
}

.price-strike{
  text-decoration: line-through rgb(247, 35, 35);
}

.promo-code-button:focus{
  outline: none;
}
